---
layout: cerulean
title:  Tri-Part Health
---
<style media="screen">
	.header-image {
		background-image: url(images/{{ site.data.config.banner }});
	}
</style>

<!-- Full Width Image Header -->
<header class="header-image">
		<div class="headline">
				<div class="container">
						<h1>You are a new creation!</h1>
						<br>
						<h2>You are born again, a new creation,
								with a new inner desire to live this
								beautiful life of health in spirit,
								soul, and body.
						</h2>
						<br>
						<h2><em>So let's get going!</em></h2>
				</div>
		</div>
</header>

<!-- Page Content -->
<div class="container">

		<hr class="featurette-divider">

		{% include about.html %}

		<hr class="featurette-divider">

		{% include tripart.html %}

		<hr class="featurette-divider">

		{% include spirit.html %}

		<hr class="featurette-divider">

		{% include soul.html %}

		<hr class="featurette-divider">
