<!-- First Featurette -->
<div class="featurette" id="about">
    <img class="featurette-image img-circle img-responsive pull-right" src="images/about.jpg" width="500" alt="About with puzzle pieces">
    <h2 class="featurette-heading">Apostolic Developments Inc. <span class="text-muted">is pioneering Tri-Part Health.</span></h2>
    <br>
    <p class="lead">As St. Irenaeus said, "<em>The glory of God is man fully alive.</em>" We view our work as a prophetic journey of joyful discovery - "<em>Call to me and I will answer you and tell you great and unsearchable things you do not know</em>" (Jeremiah 33:3). God is revealing healing and health resources and making them available to searching people.</p>

    <p><em>May God himself, the God of peace, sanctify you through and through. May your whole spirit, soul and body be kept blameless at the coming of our Lord Jesus Christ (1Thessalonians 5:23).</em></p>

    <p>God created you "in His likeness."" You are a tri-part being: Spirit, Soul, and Body. Your spirit has three func-tions: communion, conscience, and wisdom. Your soul has three functions: mind, will, and emotions. Your body has three parts: flesh, blood, and bones. Holy Spirit releases God’s light in you to bring life – healing and health.</p>

    <p><em>For you have been born again, not of perishable seed, (sperma) but of imperishable, through the living and enduring word of God. (1 Peter 1:23).</em></p>

    <p>Before you are born again your spirit is a lot like an unfertilized egg. When God fills your spirit, you receive the seed (sperma) of God, and you come alive spiritually. The egg of your spirit begins to grow and radiate the light of God. As you grow spiritually, the light of God also comes into your soul: mind, will, and emotions and into your body bringing healing and health.</p>

    <p><em>Therefore, if anyone is in Christ, he is a new creation; the old has gone, the new has come (2 Cor 5:17)</em></p>

    <p>In America western physicians with a compartmentalized rather than holistic worldview have become a net-work of medical specialists that treat you as if your spirit, soul, and body do not affect one another, as if they are not connected. One part of you affects all of you. Health or sickness in one part affects all of you. As a new crea-tion,, you are being transformed so that you live in wholeness of spirit, soul, and body. There is a lot to learn and experience in this.. It is a journey together with God.</p>

    </p>
</div>
