<!-- First Featurette -->
<div class="featurette" id="about">
    <img class="featurette-image img-circle img-responsive pull-right about" src="images/about.jpg" width="500" alt="About with puzzle pieces">
    <br>
    <h2 class="featurette-heading">Apostolic Developments Inc. <span class="text-muted">is pioneering Tri-Part Health.</span></h2>
    <br>
    <p class="lead"><em>Call to me and I will answer you and tell you great and unsearchable things you do not know" (Jeremiah 33:3).</em></p>

    <p>Apostolic Developments, Inc. is on a journey of discovery in healing and health.  It’s a journey into wholeness.  America’s medical doctors that have a western compartmentalized worldview rather than holistic worldview of humanity are a network of specialists.</p>

    <p>You are a New Creation in Christ called to appropriate the promised way of life. You have to renew your mind and think differently about your life; about healing and health. Appropriating the promises of life as a New Creation is a shift into wholeness. Wholeness is healing and health for your whole being: spirit, soul, and body. Health or sickness in one part of your being affects your whole being. As a New Creation you are being transformed to live in wholeness.</p>

    <p>St. Irenaeus said, "The glory of God is man fully alive." What does it mean for you to live “fully alive?” That’s the journey of discovery that we are on and we invite you to come along. That’s what we are about.</p>

    </p>
</div>
