<!-- Third Featurette -->
<div class="featurette" id="contact">
    <img class="featurette-image img-circle img-responsive pull-right" src="images/contact.jpg" width="500">
    <h2 class="featurette-heading">Contact <span class="text-muted">us today!</span></h2>
    <!--
    <ul class="list-inline banner-social-buttons">
        <li>
            <a href="mailto: {{ site.email }}" class="btn btn-default btn-lg"><i class="fa fa-envelope"></i> Email</a>
        </li>
        <li>
            <a href="tel: {{ site.data.phone }}" class="btn btn-default btn-lg"><i class="fa fa-phone fa-fw"></i> Phone</a>
        </li>
    </ul>
  -->

        <p>
          <span class="fa fa-envelope"></span> Email: <a href="mailto: {{ site.email }}">{{site.email}}</a>
        </p>

        <p>
          <span class="fa fa-phone"></span> Phone: <a href="tel: {{ site.data.config.phone }}">{{site.data.config.phone}}</a>
        </p>


</div>
