<div class="4u 12u(narrower)">

  <!-- Sidebar -->
    <div class="sidebar">
      <section>

        <a href="#" class="image featured"><img src="images/wade-hankins.png" alt="Wade Hankins" /></a>
        <header>
          <h3><strong>About Wade</strong></h3>
        </header>
        <p>Wade is a Certified Transformational Coach and Coach Trainer whose years of experience
          helps guide searching people who are looking for a better life.</p>
        <p>His insights consistently unlock heart desires and shift people into creative planning and action.</p>
        <p>Those who Wade has coached through change, get where they want to go. He helps others with visions of a new future. He has the unique ability to connect dreams and desires to action. All attest to Wade’s artful impact in personal transformation.
        </p>
        <p>His experience includes starting Vineyard Christian Fellowship of Independence with John Wimber, and serving on the Board of Directors of Bridge Ministries International with John Paul Jackson.</p>
        <p>Wade has a passion for dream interpretation, and enjoys coaching others in their pursuit of hearing God.</p>
        <p>Wade is married to Jan Hankins. They have four adult children. Wade and Jan live in Lee’s Summit, Missouri, at Lake Jacomo.</p>
        {% include email-signup.html %}
      </section>
    </div>
</div>
