<img src="images/wade-hankins.png" alt="Wade Hankins" class="img-responsive" style="margin-left: -10px;"/>
<p class="lead" style="margin-top: 20px;">Wade is a prophetic teacher whose insights consistently unlock new doors that shift people into a deeper and better life. He has a passion for hearing God and interpreting dreams and visions.<p>

<p>Wade developed the TRIPART IMMERSION. It’s a journey for God’s people to pursue the transformation of life in “God’s Light” where the Seven Spirits of God, the “Fullness of the Spirit” produces healing and health, wholeness in spirit, soul, and body. There are prophetic insights that lead to living “fully alive” as a “New Creation.”</p>

<a target="_blank" href="http://shareasale.com/r.cfm?b=697816&u=1370347&m=15863&urllink=&afftrack=">
  <img src="images/seven-songs.png" border="0" class="pull-right"/>
</a>
