<!-- Second Featurette -->
<div class="featurette" id="soul">
    <img class="featurette-image img-circle img-responsive pull-left" src="images/soul.jpg" style="margin-top: 34px; width: 400px">
    <h2 class="featurette-heading"><span class="text-muted">You are </span>soul
    </h2>
    <br>
    <p class="lead"><em>God gave you power, love and a sound (healthy) mind (2 Timothy 1:7).</em></p>
    <br>
    <h3>Mind</h3>
    <p>When God’s light comes into your mind, it is renewed. Your mind is transformed. You think with Holy Spirit. Thinking with Holy Spirit builds a healthy mind. The health of your mind is directly connected to faith that leads to decisions and actions.</p>

    <p><em>Do not conform to the pattern of this world, but be transformed by the renewing of your mind. Then you will be able to test and approve what God’s will is—his good, pleasing and perfect will. (Romans 12:2)</em></p>

    <p>Dark and negative cultural influences militate against your healthy mind. Building a healthy mind means following the Holy Spirit into the promises of God. That means renewing your mind for receiving God’s blessings.</p>

    <h3>Will</h3>
    <p><em>God works in you to will (make healthy choices) and do His good pleasure (Philippians 2:13)</em></p>
    <p>When God’s light comes into your soul, God gives you a will to make spirit-led choices. Spirit-led choices align you with the will of God. When you’re will is aligned with God’s will, the light of the Spirit brings health to your soul. Holy Spirit brings light to your soul so that your will gradually develop a pattern of living in agreement with the will of God.</p>

    <h3>Emotions</h3>
    <p><em>The fruit of the Spirit is love, joy, peace, longsuffering, kindness, goodness, faithfulness, gentleness, self-control. (Galatians 5:22)</em></p>
    <p>Holy Spirit provides the fruits of the Spirit. The fruits of the Spirit are not emotions, but they will impact your soul because they are connected to how you feel about life. How you feel about life is directly connected to your health. One of the most inspir-ing works of the Spirit is to fill your life with joy. Holy Spirit gives you the joy of Jesus so your joy may be full. The joy that Holy Spirit brings into your life doesn’t depend on circumstances. It’s something that God does when you are living the spirit-filled life. Joy is a fruit of the Spirit.</p>

</div>
