<!-- Third Featurette -->
<div class="featurette" id="spirit">
    <img class="featurette-image img-circle img-responsive pull-right" src="images/spirit.jpg" width="500" style="margin-top: 57px;">
    <h2 class="featurette-heading"><span class="text-muted">You are </span>Spirit</h2>
    <br><br>
    <p class="lead"><em>May God himself, the God of peace, sanctify you through and through. May your whole spirit, soul and body be kept blameless at the coming of our Lord Jesus Christ (1Thessalonians 5:23).</em></p>
    <br>
    <p>God created you “in His likeness.” You are a tri-part being: Spirit, Soul, and Body. Your spirit has three functions: communion, conscience, and wisdom. Your soul has three functions: mind, will, and emotions. Your body has three parts: flesh, blood, and bones. Holy Spirit releases God’s light in you to bring life – healing and health.</p>

    <h3>You are born again</h3>

    <p><em>For you have been born again, not of perishable seed, (sperma) but of imperishable, through the living and enduring word of God. (1 Peter 1:23).</em></p>

    <p>Before you are born again your spirit is a lot like an unfertilized egg. When God fills your spirit, you receive the seed (sperma) of God, and you come alive spiritually. The egg of your spirit begins to grow and radiate the light of God. As you grow spiritu-ally, the light of God also comes into your soul: mind, will, and emotions and gives you healing and health.</p>

    <h4>You are spirit</h4>

    <h3>Communion</h3>

    <p><em>The grace of the Lord Jesus Christ, and the love of God, and the communion of the Holy Spirit be with you all. Amen (2 Corinthians 13:14).</em></p>

    <p>God’s light fills your spirit. Holy Spirit makes your spirit healthy. Your spirit is designed to have an eternal relationship with God. It is designed to commune with God in revelation.</p>

    <h3>Conscience</h3>

    <p><em>I tell the truth in Christ, I am not lying, my conscience also bearing me witness in the Holy Spirit… (Romans 9:1).</em></p>
    <p>God’s light will give you an inner sense of what is right or wrong. You will be led in healthy conduct, motives, and actions.</p>

    <h3>Wisdom</h3>
    <p><em>The wisdom that is from above is first pure, then peaceable, gentle, willing to yield, full of mercy and good fruits, without partiality and without hypocrisy (James 3:17).</em></p>

    <p>The wisdom of God comes by revelation with the fruits of the spirit. Spiritual wisdom is not worldly wisdom. Worldly wisdom comes from the minds of men.</p>

</div>
