<!-- Second Featurette -->
<div class="featurette" id="tri-part">
    <img class="featurette-image img-circle img-responsive pull-left" src="images/shrug.png" width="500">
    <h2 class="featurette-heading">The Tri-Part being <span class="text-muted">Spirit, Soul, and Body</span>
    </h2>
    <p class="lead">God is light (1 John 1:5). God said, “Let there be light” (Genesis 1:3).</p>

    <p>God’s light is in and through everything that He has created. Now, God is unfathomable and we aren’t trying to describe God in some kind of high and lofty theological way at all. No. We simply want to tell you what we are learning and experiencing. What we share here is about our journey. That said, we invite you to prayerfully have a look in hope for insights into healing and health.</p>

    <p>Jesus’ teachings do describe God as Father, Son, and Holy Spirit- TRIPART. In the bible God’s light is experienced as a heavenly brilliant white light, a “creative spiritual substance” that shines powerfully through all three members of the Godhead like a prism. Of course the Godhead is not a prism, but the image is really prophetic. When the light of God shines through the prism of the trinity, the Seven Spirits of God, the Seven Colored Rainbow, and Seven Heavenly Sounds manifest.</p>

    <h5>Seven Spirits</h5>
    <p>We want the whole ministry of the Holy Spirit, to minister wholeness to searching people. The Seven Spirits of God are: Spirit of the Lord, Spirit of Wisdom, Spirit of Understanding, Spirit of Counsel, Spirit of Might, Spirit of Knowledge, and the Spirit of the Fear of the Lord. We want to receive the healing and health that comes from the whole ministry of the Holy Spirit.</p>

    <h5>Seven Colors</h5>
    <p>There are Seven Colors of the rainbow that are aligned with the Seven Spirits of God: Red, Orange, Yellow, Green, Royal Blue, Indi-go, and Violet. The Seven Colors are prophetic. In ancient Israel the rainbow colors they are found on the breastplate of the High Priest. There is a color for each of the Twelve Tribes. The Book of Revelation tells us that the New Jerusalem, the City of God also has foundational colored gem stones. We want to receive the healing and health that God has released in and through the colors that He has created.</p>

    <h5>Seven Sounds</h5>
    <p>There are Seven Healing Frequencies that have been uncovered in the music of King David. These historical healing frequencies are the same ones used by David to bring healing and deliverance to King Saul on his lyre. The Seven Healing Frequencies are aligned with spe-cific parts of your body to bring healing. We want to receive the healing and heath that God has released in healing frequencies.</p>

    <h5>Healing Together</h5>
    <p>God is revealing more on healing based on His word, not new age, but prophetic insights. We want to bring everything to the min-istry of healing all that He is revealing. The Seven Spirits of God, Seven Colors of the Rainbow, and the Seven Healing Frequencies are unified in the “creative spiritual substance” of the light of God.</p>

    <p>Spirit of the Lord (Red), Spirit of Wisdom (Orange), Spirit of Understanding (Yellow), Spirit of Counsel (Green), Spirit of Might (Royal Blue), Spirit of Knowledge (Indigo), and the Spirit of the Fear of the Lord (Violet). Color (visible) and Sound (audible) are on the same fre-quency. God revealed and released heavenly music to King David. He tuned his kinnor (lyre) to 444 Hz. for worship and healing. A = 444 Hz is a healing, life giving key.</p>

    <p>Interestingly, Sir Isaac Newton discovered that refraction causes the dispersion of light into colors. He named seven colors, in sym-metry with the seven distinct notes in the Western musical scale. (Revelation 3:1, 4:5, 5:6)</p>

    <p class="lead">In our TRIPART HEALTH three-hour immer-sion you will get...</p>

    <ul>
      <li>Insights into Biblical Healing</li>
      <li>Life Changing Healing Prayer</li>
      <li>Personal Bemer Session for PEMF</li>
      <li>Healing Frequencies of King David</li>
    </ul>

</div>
