<!DOCTYPE HTML>
<html>
	<head>
		{% include head.html %}
	</head>
	<body class="{% if page.url == '/' %}index{% endif %}">
		<div id="page-wrapper">

			{% include header.html %}


			{{ content }}

			<!-- Footer -->
			{% include footer.html %}

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
